@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?45iug3');
  src:  url('fonts/icomoon.eot?45iug3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?45iug3') format('truetype'),
    url('fonts/icomoon.woff?45iug3') format('woff'),
    url('fonts/icomoon.svg?45iug3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-mail:before {
  content: "\ea83";
}
